<link rel="stylesheet" href="/css/home.css">
<div class="container">
    <h2>Selamat datang di FLORISTRY!</h2>
    <p>Tempat terbaik untuk menemukan bunga segar dan rangkaian cantik untuk setiap momen istimewa Anda!</p>
    
    
    <h3>Katalog Toko Kami</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/images/pageant.jpg" class="card-img-top" alt="Mawar">
                <div class="card-body">
                    <h5 class="card-title">Pageant bouquet</h5>
                    <p class="card-text">Untuk memegang buket bunga ini caranya seperti menggendong di lengan. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/nosegay.jpg" class="card-img-top" alt="Anggrek">
                <div class="card-body">
                    <h5 class="card-title">Nosegay bouquet</h5>
                    <p class="card-text">Nosegay bouquet dapat langsung dikenali dari banyaknya penggunaan daun.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/rustic.jpg" class="card-img-top" alt="Tulip">
                <div class="card-body">
                    <h5 class="card-title">Rustic bouquet</h5>
                    <p class="card-text">Terdapat daun eucalyptus dengan bunga seperti calla lily.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/pomander.jpg" class="card-img-top" alt="Tulip">
                <div class="card-body">
                    <h5 class="card-title">Pomander bouquet</h5>
                    <p class="card-text">Paling sering dipakai bunga mawar yang memiliki kelopak sejajar dan ukuran yang sama.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/posy.jpg" class="card-img-top" alt="Tulip">
                <div class="card-body">
                    <h5 class="card-title">Posy bouquet</h5>
                    <p class="card-text">Terdiri dari kelopak-kelopak bunga yang diikat dengan pita, tanpa tumbuhan hijau.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/crescent.jpg" class="card-img-top" alt="Tulip">
                <div class="card-body">
                    <h5 class="card-title">Biedermeier bouquet</h5>
                    <p class="card-text">Bunga-bunga yang dipotong sama panjang dan diikatkan erat-erat dengan kain atau kawat.</p>
                </div>
            </div>
        </div>
    </div>
    
    <h2>Anda memiliki pertanyaan seputar katalog ini?</h2>
    <p>silahkan klik <a href="/contact" class="btn btn-primary">disini</a></p>
</div>

<!-- Footer -->
<footer class="text-center py-4 bg-light mt-5">
    <p class="mb-0">© 2024 My Todo List. All rights reserved.</p>
</footer>
